[submodule "server/external/pyScienceMode"]
	path = server/external/pyScienceMode
	url = https://github.com/pariterre/pyScienceMode.git
[submodule "backend/external/googletest"]
	path = backend/external/googletest
	url = https://github.com/google/googletest.git
